---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: |
  (?x)^(
    # Ignore `.devcontainer/devcontainer.json`
    |\.devcontainer/devcontainer\.json$

    # Ignore `.vscode/launch.json`
    |\.vscode/launch\.json$

    # Ignore VCS and Python build/virtualenv directories
    |\.eggs
    |\.git
    |\.hg
    |\.mypy_cache
    |\.nox
    |\.tox
    |\.venv
    |_build
    |buck-out
    |build
    |dist
    |alembic
  )$
default_language_version:
  python: python3.10
default_stages: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        name: Check added large files
        args:
          - --maxkb=1000
      - id: check-toml
        name: Check TOML
      - id: check-yaml
        name: Check YAML
        args:
          - --unsafe
      - id: check-json
        name: Check JSON
      - id: end-of-file-fixer
        name: End of file fixer
      - id: trailing-whitespace
        name: Trailing whitespace
      - id: debug-statements
        name: Debug Statements
  - repo: https://github.com/tsvikas/sync-with-uv
    rev: v0.5.0
    hooks:
      - id: sync-with-uv
        name: Sync with uv
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.11
    hooks:
      - id: uv-lock
        name: Update the uv lockfile
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff
        name: Ruff Linter
      - id: ruff-format
        name: Ruff Formatter
