services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    container_name: server
    command: uvicorn app.main:app --host 0.0.0.0 --port 80
    healthcheck:
      test: ["CMD", "curl", "-f", "http://172.17.0.1:80"]
      interval: 1m
      timeout: 10s
      retries: 3
    ports:
      - 80:80
    volumes:
      - .:/app
